<div class="p-d-flex p-jc-center p-ai-center" style="min-height:100vh;">
  <div class="p-col-12 p-md-6 p-lg-4">

    <p-card header="Login" class="p-p-5">
      <form [formGroup]="loginForm" (ngSubmit)="guardar()" class="p-fluid">

        <!-- Email -->
        <div class="p-field">
          <label for="email">Email</label>
          <input pInputText id="email" type="email" formControlName="email" placeholder="tu@email.com" />
          <small class="p-error"
                 *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            Ingresa un email válido
          </small>
        </div>

        <!-- Password -->
        <div class="p-field">
          <label for="password">Contraseña</label>
          <input pPassword id="password" formControlName="password" placeholder="******" feedback="false" />
          <small class="p-error"
                 *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            Mínimo 6 caracteres
          </small>
        </div>

        <!-- Botón -->
        <p-button label="Login" type="submit" [disabled]="loginForm.invalid" class="w-full"></p-button>

      </form>
    </p-card>

  </div>
</div>
